<html>
<body style="background-color:powderblue;">
    <center>
    <h1>Study Management</h1>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<table style="width:100%">
    <tr>
      <td><b>Study Name</b></td>
      <td><b>Study Phase</b></td>
      <td><b>Sponsor Name</b></td>
      <td><b>Study Description </b></td>
    </tr>
    <tr>
        <td><label for="name"></label>
            <select name="name" id="name">
              <option value="Study 1">Study 1</option>
              <option value="Study 2">Study 2</option>
              <option value="Study 3">Study 3</option>
              </select></td>
        <td><label for="phase"></label>
            <select name="phase" id="phase">
                <option value="Phase I">Phase I</option>
                <option value="Phase II">Phase II</option>
                <option value="Phase III">Phase III</option>
                <option value="Phase IV">Phase IV</option>
                </select></td>
        <td><label for="sponsor"></label>
            <select name="sponsor" id="phase">
                <option value="Sponsor 1">Sponsor 1</option>
                <option value="Sponsor 2">Sponsor 2</option>
                <option value="Sponsor 3">Sponsor 3</option>
                </select></td>

            <td><label for="fname"></label>
  <input type="text" id="fname" name="fname"><br></td>
  <td><b>View</b></td>
  <td><b>Edit</b></td>
    </tr>
  </table>
 
<br>
<br>

  <input type="submit" value="Add New">
  <input type="submit" value="Remove"></p>

</center>
</body>
</html>